

.searchTab{
    width: 90%;
    margin-bottom: 1rem;
    border: solid black 1.6px;
}
a{
    color: white !important;
}

a:hover{
    color: rgb(177, 161, 233) !important;
}

img{
    width: 90%;
}

.github-link{
    text-decoration: none;
    color: black !important;
}

footer{
    border-top: solid lightgray 1px !important;
}

@media (min-width: 768px) {
    .container{
        min-height: 80vh;
    }
}
